<% opts = { data: { url: url_for, remote: true, method: :get } }
content_for :latest_filter do %>
	<div class="form-group">
		<%= label_tag "sort", t(:sort_by) %>
		<label class="radio-inline">
			<%= radio_button_tag "sort", "latest", @preference.sort == "latest",opts %>
			<%= t :sort_by_date %>
		</label>
		<label class="radio-inline">
			<%= radio_button_tag "sort", "alpha", @preference.sort == "alpha", opts %>
			<%= t :sort_by_name %>
		</label>
	</div>
<% end %>
<%= render'layouts/filter' %>

<%= will_paginate class: "center" %>
<table class="table table-striped authors">
	<tr>
		<th><%= t :col_book_title %></th>
		<th><%= t :col_book_authors %></th>
		<th><%= t :col_book_serie %></th>
	</tr>
<% @books.each do |book| %>
	<tr>
		<td><span class="glyphicon glyphicon-book"></span><%= link_to book.title, book %></td>
		<td>
	<% book.authors.each do |author| %>
			<span class="glyphicon glyphicon-user"></span><%= link_to author.name, author %>
	<% end %>
		</td>
		<td>
	<% if book.serie %>
			<span class="glyphicon glyphicon-list"></span><%= link_to book.serie.name, book.serie %>
			<span class="badge"><%= book.series_index.to_i %></span>
	<% end %>
		</td>
	</tr>
<% end %>
</table>
<%= will_paginate class: "center" %>
