<h1><%= @book.title %></h1>
<ul>
	<% @book.authors.each do |author| %>
		<li><%= author.name %></li>
	<% end %>
</ul>
<ul>
	<% @book.languages.each do |language| %>
		<li><%= language.lang_code %></li>
	<% end %>
</ul>
<ul>
	<% @book.tags.each do |tag| %>
		<li><%= tag.name %></li>
	<% end %>
</ul>
<p>Serie: <%= @book.serie.name %></p>
<p>Publisher: <%= @book.publisher.name %></p>
