<div class="page-header">
	<div class="row">
		<div class="col-xs-12 col-md-9">
			<h1>
				<span class="glyphicon glyphicon-book"></span>
				<%= @book.title %>
			</h1>
		</div>
		<div class="col-xs-12 col-md-3 text-right"> <%= render "layouts/book_dl" %> </div>
	</div>
</div>
<div class="row">
<% if @book.has_cover? %>
	<div class="col-xs-12 col-md-6">
<% end %>
		<h2>
			<span class="glyphicon glyphicon-user"></span>
			<%= t(:book_authors, count: @book.authors.count) %>
		</h2>
		<ul>
			<% @book.authors.each do |author| %>
			<li><%= link_to author.name, author %></li>
			<% end %>
		</ul>
		<% if @book.serie %>
		<h2>
			<span class="glyphicon glyphicon-list"></span>
			<%= t :book_serie %>
		</h2>
		<div>
			<%= link_to @book.serie.name, @book.serie %>
			<span class="badge"><%= @book.series_index.to_i %></span>
		</div>
		<% end %>
		<h2>
			<span class="glyphicon glyphicon-globe"></span>
			<%= t(:book_lang, count: @book.languages.count) %>
		</h2>
		<div>
			<% @book.languages.each do |language| %>
			<%= language.lang_code %>
			<% end %>
		</div>
		<h2>
			<span class="glyphicon glyphicon-tags"></span>
			<%= t(:book_tag, count: @book.tags.count) %>
		</h2>
		<div>
			<% @book.tags.each do |tag| %>
			<span class="label label-info"><%= tag.name %></span>
			<% end %>
		</div>
		<h2><%= t :book_detail %></h2>
		<ul>
			<% if @book.pubdate %>
			<li><strong><%= t :book_pubdate %></strong> <%= @book.pubdate.to_formatted_s(:date) %></li>
			<% end %>
			<% if @book.publisher %>
			<li><strong><%= t :book_publisher %></strong> <%= @book.publisher.name %></li>
			<% end %>
		</ul>
	</div>
<% if @book.has_cover? %>
	<div class="col-xs-12 col-md-6">
		<%= image_tag(cover_book_path(@book), alt: t(:no_cover), class: "img-responsive img-rounded") %>
	</div>
<% end %>
</div>
