<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to "#filterContent", { class: "collapsed", data: { toggle: "collapse" } } do %>
			<h3 class="panel-title"> 
				<span class="glyphicon filterToggle" aria-hidden="true"/>
					<%= t :filter %>
			</h3>
		<% end %>
	</div>
	<div class="panel-body collapse" id="filterContent">
		<%= render'layouts/initials' %>
		<%= yield(:latest_filter) %>
		<%= form_tag({}, {method: :get, remote: true}) do %>
			<div class="input-group">
				<span class="input-group-btn">
					<%= button_tag t(:search), class: "btn btn-default" %>
				</span>
				<%= search_field_tag(:term, @preference.term, placeholder: t(:search_ph), class: "form-control") %>
			</div>
		<% end %>
		<%= render'layouts/perpage' %>
	</div>
</div>
